*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    >.pain{
        width: max-content;
        padding: 20px;
        border-radius: 6px;
        margin: auto;
        border: 1px solid #ccc;
        box-shadow: 10px 10px 10px #ccc;
        filter: drop-shadow(10px 10px 10px #ccc);
        >form{
            display: flex;
            input[type="text"]{
            width: 300px;
            padding: 10px;
            border-width: 0;
            border-radius: 6px 0px 0px 6px;
                &:focus{
                    outline: none;
                }
            }
            input[type="submit"]{
                width: max-content;
                padding: 10px;
                background-color: #ccc;
                border: none;
                border-radius: 0px 6px 6px 0px;
                cursor: pointer;
            }
            margin-bottom: 20px;
        }
        #tsakList{
            >div{
                padding: 0 10px;
                margin-bottom: 10px;
                &:hover{
                    text-decoration: line-through;
                    cursor: pointer;
                }
            }
        }
    }
}